name: Docker Hub Description

on:
  push:
    branches: [ main ]
    paths:
     - README.md
     - .github/workflows/dockerhub-description.yml

permissions:
  contents: read  # Explicit for checkout

jobs:

  dockerhub-description:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2  # Latest patch

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5.0.0  # Latest: v5.0.0
        with:
         username: ${{ secrets.DOCKERHUB_USERNAME }}
         password: ${{ secrets.DOCKERHUB_TOKEN }}
         repository: r14f/allthemods10
         short-description: "AllTheMods10-5.3.1 Minecraft Server optimized for unRAID Docker."
         enable-url-completion: true
